@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import "tailwindcss";

#root {
  text-align: center;
  font-family: 'Poppins', sans-serif;

}
body{
  margin: 0;
  padding: 0;
  background-color: black;
}
html{
  scroll-behavior: smooth;
  font-size: 16px;
}

@media (max-width: 640px) {
  html {
    font-size: 14px;
  }
}


@keyframes gradient-bg {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


.animated-gradient-text {
  background: linear-gradient(
    -45deg,
    #38bdf8,   /* sky */
    #6366f1,   /* indigo */
    #86efac,   /* pastel green */
    #8b5cf6,   /* violet */
    #0ea5e9    /* blue */
  );

  background-size: 350% 350%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  animation: gradientShift 10s ease-in-out infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}




